/* Scrollbar */
:root {
  --shadow: #43a047;
  --scrollbarBG: #504239;
  --thumbBG: #f9a415;;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
/*End Scrollbar */	

	html, body
	{
		height: 100%
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		/*  background: #4C4532; */
		 background: #3e3728; 
		backgrounf: #9D9D9D;
		line-height: 1.75em;
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		font-weight: 100;
		/* color: #efefef; */
		color: #000;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
			
	p, ol, ul
	{
		margin-top: 0;
	}
	
	p
	{
	}
	
	
	ol, ul
	{
		padding: 0;
		/* list-style: none; */	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
		 font-weight: bold; 	
	}
	
	a
	{
		/* color: #383326; */
		color: #fff;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1050px;
		color: #d4d4d4;
	}

	.LEDtekst 
	{
		font-family: 'Verdana', sans-serif;
  		font-size: 15px;
	}

	.textdark
	{
		font-family: 'Verdana', sans-serif;
		font-size: 11pt;
		color: #000; 	
	}
	
	.textWhite
	{
		font-family: 'Verdana', sans-serif;
		font-size: 11pt;
		color: #FFF; 	
	}	
	
	.textsmall
	{
		font-family: 'Verdana', sans-serif;
		font-size: 8pt;
		color: #000; 	
	}
	
	.textbig
	{
		font-family: 'Verdana', sans-serif;
		font-size: 22pt;
		color: #000; 	
	}	
	
	.textDisclaimer
	{
		font-family: 'Verdana';
		font-size: 12pt;
		color: #000; 	
	}	

	#Port
	{
		font-family: 'Verdana', sans-serif;
		text-align: center;
        font-weight: bold;
        font-size: 150%;
        font-style: italic;
		color: #000;
	}
	
	#AreaPort
	{
		font-family: 'Verdana', sans-serif;
		font-style: italic;
		font-weight: bold;
		color: #FF0000;
	}
	
	
	.frmInput 
	{ 
		border: solid 1px #ff0000; 
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000; 
		text-decoration:none; 
	}

	[type="number"] {
	    width: 60px;
	}
	
	.frmOutput
	{ 
		border: solid 2px #00ff00; 
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000; 
		text-decoration:none; 
	}	
	
	.frmOutputBold
	{ 
		border: solid 2px #00ff00; 
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		color: #000; 
		text-decoration:none; 
	}		
	
	.frm_normal_Input 
	{ 
		border: solid 2px #C0C0C0; 
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000; 
		text-decoration:none; 
	}	
	
	JSbody
	{
		margin: 0px;
		padding: 0px;
		background: #FFF;
		line-height: 1.75em;
		font-family: 'Verdana', sans-serif;
		font-size: 8pt;
		font-weight: 100;
		color: #000000;
	}
	
	.invisible
	{
  		opacity: 0;
  		cursor: none;
	}

/*********************************************************************************/
/* Dropdown button on hover & focus */
/*********************************************************************************/
div.select {
    margin: 10px;
    padding: 5px;
    background: rgba(255,255,255,0.7);
    border: 3px ridge purple;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 180px;
    box-shadow : inset 2px 2px 2px 2px rgba(0,0,0,0.55), 2px 2px 2px 2px rgba(0,0,0,0.6);
}
div.select:hover {
border : 3px ridge lime;
}



/*********************************************************************************/
/*  Floating Action Button   scroll up                                           */
/*********************************************************************************/
 #myBtn
 {

   display: none;
   position: fixed;
   
   bottom: 26px;
   right: 55px;
   
   font-size: 24px;
   font-weight: bold;
   
   border: none;
   outline: none;
   /*background-color: #f9a415;*/
   color: #fff;
   
   cursor: pointer;
   padding-top: 3px;
   padding-left:10;
   padding-right:10;  
   padding-bottom:8;  
   
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #333;
   transition: all 0.1s ease-in-out;
   opacity: 0.7;
   transition: 0.1s;
   z-index: 9999;
 }

 #myBtn:hover {
    opacity: 1
 }


/*********************************************************************************/
/*  Floating Action Button scroll down                                           */
/*********************************************************************************/

 #myBtnDown
 {
   position: fixed;
   top: 45px;
   right: 55px;
   
   font-size: 24px;
   font-weight: bold;
   
   border: none;
   outline: none;
   /*background-color: #f9a415;*/
   color: #fff;
   
   cursor: pointer;
   padding-top: 3px;
   padding-left:10;
   padding-right:10;  
   padding-bottom:8; 
      
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #333;
   opacity: 0.7;
   transition: 0.2s;
   z-index: 9999;
 }

#myBtnDown:hover {
    opacity: 1
 }


/*********************************************************************************/
/* Blinkimg Style                                                                */
/*********************************************************************************/
.blinking{
	animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	20%{	color: transparent;	}
	100%{	color: #Fff;	}
}


/*********************************************************************************/
/* Slider Style                                                                   */
/*********************************************************************************/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #ee0000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .1s;
  transition: opacity .1s;
}

.slider:hover {
  background: #ee0000;
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #0000ee;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}


/*********************************************************************************/
/* Image Style an shadows                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

	#boxshadow
	{
  		/*position: relative;*/
  		-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.3);		/* Firefox 3.5 - 3.6 */
  		-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  		box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);			/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  		padding: 6px;
  		background: white;
	}

	/* Make the image fit the box */
	#boxshadow img 
	{
 	 	/*width: 100%;*/
  		border: 0px solid #8a4419;
  		border-style: inset;
	}

	#boxshadow::after 
	{
  		content: '';
  		position: absolute;
 		 z-index: -1; /* hide shadow behind image */
  		-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        
  		width: 70%; 
  		left: 15%; /* one half of the remaining 30% */
  		height: 100px;
  		bottom: 0;
}

/*********************************************************************************/
/* Table Styles                                                                  */
/*********************************************************************************/
#PTable {
	display: block;
}


.table {
-moz-box-shadow: inset -5px -5px 5px #888;		/* Firefox 3.5 - 3.6 */
-webkit-box-shadow: inset -5px -5px 5px #888;	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
box-shadow: inset -5px -5px 5px #888;			/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.BasicTable {
    background-color: #fff;
    border: 1px solid #BBB;
    padding:20px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.ADVtable {
    background-color: #fff;
    border: 1px solid #BBB;
    padding:20px;
    -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);    
}

/*
.BasicTable {
    background-color: #fff;
    border: 1px solid #BBB;
    padding:20px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}
*/

.Atitle h3
{
	margin-bottom: 1em;
	/* text-transform: uppercase; */
	text-align: center;
	font-weight: 700;
	font-size: 1.1em;
	/*color: #383326;*/
	color: #111111;
	text-shadow: 1px 1px 2px #232323;
	letter-spacing: 3px;
	line-height: 1.6;
	}
	
.RBCtable {
    width: 54%;
    background-color: #fff;
    border: 1px solid #BBB;
     padding:20px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.DiffusorTbl {
    background-color: #fff;
    border: 1px solid #BBB;
     padding:20px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.Calctable {
   	width: 85%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.CalctableSmaller {
   	width: 70%;
    background-color: #fff;
    border: 1px solid #F9A415;
    padding: 0px;
    -webkit-box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);    
}

.CalctableSmall {
   	width: 40%;
    background-color: #fff;
    border: 1px solid #F9A415;
    padding: 0px;
    -webkit-box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);    
}


.Vinyltable {
   	width: 95%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.Playertable {
   	width: 75%;
    background-color: #333;
    border: 1px solid #000;
    padding: 10px;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.9);
  		-moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.9);
  		box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);    
}

.CPLTable {
   	width: 75%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);    
}

.CPLTable2 {
   	width: 90%;
    background-color: #fff;
    border: 1px solid #F9A415;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.NFLCtable {
   	width: 40%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.CPPtable {
   	width: 95%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.BDLtable {
   	width: 65%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.TTtable {
   	width: 50%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  		-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);    
}
.Alignmenttable {
   	width: 80%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.Indextable {
   	width: 100%;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.Menutable {
   /* width: 99%; */
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 20px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.HSCtable {
   	width: 100%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 2px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.tblQB3 {
	width: 101%;
    background-color: #fff;
    border: 1px solid #FF0000;
}
    
.Imagetable {
    border: 1px solid #BBBBBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}

.BIBtable {
   	width: 99%;
    background-color: #fff;
    border: 1px solid #BBB;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);    
}


.LEDtableRed {
   	width: 65%;
    background-color: #dfdfdf;
    border: 4px solid #CC0000;
    padding: 4px;     
   /* border: 8px solid #DD2222;
    padding: 0px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);   */ 
}

.LEDtableGrn {
   	width: 65%;
    background-color: #dedede;
    border: 4px solid #00CC00;
    padding: 4px; 
   /*border-style: solid;
   border-color: green;    
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);  */  
}


.SearchTable 
{
  	position: absolute;
  	top: 132px;
  	left: 360px;
  	padding: 4px;
  	/*
  	padding: 50px;
  	border: 1px solid green;
  	padding: 20px;
  	margin: 1px;     
  	border: 1px solid #666;
   -webkit-box-shadow: 8px 8px 20px rgba(255, 255, 255, 0.3);
   -moz-box-shadow: 0 15px 20px rgba(255, 255, 255, 0.3);
  	box-shadow: 0 15px 20px rgba(255, 255, 255, 0.3); 
  	*/ 
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}

/*********************************************************************************/
/* Title Styles                                                                   */
/*********************************************************************************/

	.title
	{
		/* padding: 0em 0em; */
		padding: 20px;
		margin-bottom: 0em;
	}

	.title h1
	{
		margin-bottom: 1em;
		/* text-transform: uppercase; */
		text-align: center;
		font-weight: 700;
		font-size: 2.5em;
		/*  color: #e4e4e4;  
		color: #383326;*/
		color: # ff0000;
		text-shadow: 3px 4px 6px #444444;
		letter-spacing: 3px;
		line-height: 1.6;
	}		

	.title h2
	{
		margin-bottom: 0.6em;
		margin-top: 0.6em;
		/* text-transform: uppercase; */
		text-align: center;
		font-weight: 700;
		font-size: 2em;
		/* color: #383326; */
		color: #FF0000;
		text-shadow: 3px 4px 6px #444444;
		letter-spacing: 3px;
		line-height: 1.6;
	}
	
	.title h3
	{
		margin-bottom: 1em;
		/* text-transform: uppercase; */
		text-align: center;
		font-weight: 700;
		font-size: 1.1em;
		/*color: #383326;
		color: #111111;*/
		color: #ff0000;
		text-shadow: 1px 1px 2px #232323;
		letter-spacing: 3px;
		line-height: 1.6;
	}	


	.Atitle
	{
		padding: 0em 0em;
		margin-bottom: 0em;
	}

	.Atitle h1
	{
		margin-bottom: 1em;
		/* text-transform: uppercase; */
		text-align: center;
		font-weight: 700;
		font-size: 2.5em;
		color: #383326;
		text-shadow: 3px 4px 6px #444444;
		letter-spacing: 3px;
		line-height: 1.6;
	}		

	.Atitle h2
	{
		margin-bottom: 0.6em;
		margin-top: 0.6em;
		/* text-transform: uppercase; */
		text-align: center;
		font-weight: 700;
		font-size: 2em;
		color: #383326;
		text-shadow: 3px 4px 6px #444444;
		letter-spacing: 3px;
		line-height: 1.6;
	}
	
	.Atitle h3
	{
		margin-bottom: 1em;
		/* text-transform: uppercase; */
		text-align: center;
		font-weight: 700;
		font-size: 1.1em;
		/*color: #383326;*/
		color: #111111;
		text-shadow: 1px 1px 2px #232323;
		letter-spacing: 3px;
		line-height: 1.6;
	}	
/*********************************************************************************/
/* End Title Styles                                                                   */
/*********************************************************************************/

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		width: 16.7em; 
		border: solid 1px #f9a415; 
		display:block; 
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		color: #000; 
		padding-left: 2px; 
		padding-right: 2px; 
		padding-top: 1px; 
		padding-bottom: 1px; 
		text-decoration:none;
	}

	.lnkButton
	{
	    display: block;
        width: 100%;
		background-color: #f9a415;
		border: solid 2px #f9a415;
		border-radius: 8px;
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000;
		text-decoration:none;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);  			
	}
	
	.lnkButton:hover
	{
    	background-color: #333;
   	 	color: white;
   	 	border-radius: 8px;
	}

	.calcButton 
	{ 
		width: 18em; 
		background-color: #f9a415;
		border: solid 2px #f9a415;
		border-radius: 8px;
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000; 
		text-decoration:none; 
		padding-left: 4px; 
		padding-right: 4px; 
		padding-top: 4px; 
		padding-bottom: 4px; 
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);  		
	}
	.calcButton:hover 
	{
    	background-color: #333;
   	 	color: white;
   	 	border-radius: 8px;
	}
	
	.mnuButton 
	{ 
		width: 100%; 
		background-color: #f9a415;
		border: solid 2px #f9a415;
		border-radius: 8px;
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000; 
		text-decoration:none; 
		padding-left: 5px; 
		padding-right: 5px; 
		padding-top: 5px; 
		padding-bottom: 5px; 
	}
	.mnuButton:hover 
	{
    	background-color: #333;
   	 	color: white;
   	 	border-radius: 8px;
	}	

	.HSCbutton
	{
		background-color: #f9a415;
		border: solid 2px #BBB;
		border-radius: 8px;
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000; 
		text-decoration:none; 
		padding-left: 4px; 
		padding-right: 4px; 
		padding-top: 4px; 
		padding-bottom: 4px; 	
	}
	.HSCbutton: hover
	{
    	background-color: #333;
   	 	color: white;
   	 	border-radius: 8px;	
	}
	
	.lbrButton 
	{ 
	    display: block;
        width: 70%;
		background-color: #f9a415;
		border: solid 2px #f9a415;
		border-radius: 8px;
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000;
		/* text-shadow: 3px 4px 6px #444444;*/
		text-decoration:none;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
    -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);   		
	}
	.lbrButton:hover 
	{
    	background-color: #333;
   	 	color: white;
   	 	border-radius: 8px;
	}				

	.SearchBtn 
	{ 
		width: 6em; 
		background-color: #f9a415;
		border: solid 2px #f9a415;
		border-radius: 8px;
		font-family: 'Verdana', sans-serif;
		font-size: 10pt;
		color: #000; 
		text-decoration:none; 
		padding-left: 4px; 
		padding-right: 4px; 
		padding-top: 4px; 
		padding-bottom: 4px; 
	}
	.SearchBtn:hover 
	{
    	background-color: #333;
   	 	color: white;
   	 	border-radius: 8px;
	}
/****************************/
/* Radio button             */
/****************************/
   input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffffff;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #00CC00;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #00CC00;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #00CC00;
    }
 /*   
    
/****************************/
/* Printbutton              */
/****************************/
button.print-button {
  width: 100px;
  height: 100px;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  border: solid 4px #333;
}
span.print-icon::after {
  border-width: 2px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;
  
  border: none;
  background: transparent;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;  
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height .2s .15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0, #fff 14%,
    #333 14%, #333 28%,
    #fff 28%, #fff 42%,
    #333 42%, #333 56%,
    #fff 56%, #fff 70%,
    #333 70%, #333 84%,
    #fff 84%, #fff 100%
  );

  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height:0px;
  transition: height .2s;
}
button.print-button:hover .print-icon::after {
  height:120%;
  transition: height .2s .15s, border-width 0s .16s;
}
	
	.input
	{
	padding:8px;
	display:block;
	border:none;
	border-bottom:1px solid #BBB;
	width:100%
	font-size: 12;
	}	
		
		
.w3-border-0
{
border:0!important}
.w3-border{border:1px solid #BBB!important}
.w3-border-top{border-top:1px solid #BBB!important}
.w3-border-bottom{border-bottom:1px solid #BBB!important}
.w3-border-left{border-left:1px solid #BBB!important}
.w3-border-right{border-right:1px solid #BBB!important}		

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 320px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 45px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		/*  width: 575px;  */
		width: 470px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

    .menubox
    {
    	width: 940px;
    }
	#wrapper
	{
	}
	
/*********************************************************************************/
/* 1-column                                                                      */
/*********************************************************************************/

	.tbox0
	{
		width: 940px;
	}

	.box0 
	{
		/* background-color: #000; */
	}

	#wrapper
	{
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		padding: 3em 0em;
		height: 100px;
		/*border: 3px solid red;*/
	}

/*********************************************************************************/
/* Logo Text                                                                         */
/*********************************************************************************/

	#logo
	{
		position: relative;;
		top: 0em;
		/* left: 90px; */
		font:italic bold 12px/30px Georgia, serif;
		font-style: oblique;
		font-variant: small-caps;
		font-size: 3.30em;
		font-weight: 700;
		font-style: italic;
		color: rgba(255,255,255, 0.86);
		letter-spacing: 0.10em;
		text-shadow: 3px 3px 3px #BBB;
		text-align:center;
	}
	
	#logo h2
	{
	}
	
	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.9);
	}
	
	#logodark
	{
		position: relative;;
		top: 0em;
		left: 90px;
		font:italic bold 12px/30px Georgia, serif;
		font-style: oblique;
		font-variant: small-caps;
		font-size: 3.30em;
		font-weight: 700;
		font-style: italic;
		color: rgba(10,10,10, 0.86);
		letter-spacing: 0.30em;
		text-shadow: 3px 3px 3px #BBB;
	}	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		/*  position: absolute;  */
		float: center;
		top: 8.0em;			
		font-size: 13pt;
		text-align: center;
	}
	
	#menu ul
	{
		display: inline-block;
		text-align: center;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 0.4em 0.8em;
		text-decoration: none;
		/* font-weight: bold; */
		text-align: center;
		color: rgba(255,255,255,1.1);
		/* text-shadow: 2px 2px 2px #ddd; */
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		border-radius: 20px;
		text-align: center;
		/* color: rgba(254,210,9,0.99); */
		color:	lightblue;
	}
	
	#menu .current_page_item a
	{
	color: rgba(255,255,255,0.9);
	}
	
	#menu .icon
	{
	}
	

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 0em 0em;
		/*  background: #D7D4C3;  
		background: #e6e6e6; */

	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}


/*********************************************************************************/
/* Tab pages                                                                        */
/*********************************************************************************/
/*
div.tab-container {
        float:left;
        width:593px;
        padding:20px;
}
div.nav {
        position:relative;
        float:left;
        width:593px;
        height:30px;
}
div.nav ul li {
        float:left;
        width:225px;
        height:30px;
        margin:0px 0px 0px 0px;
        padding:5px 0px 0px 0px;
        border:1px solid #999;
        background-color:#f00;
        cursor:hand;
        cursor:pointer;
        text-align:center;
}
div.nav ul li.active {
        color:#FF6600;
}
div.tabs {
        position:relative;
        float:left;
        width:593px;
        height:185px;
        background-color:#F00;
        border:1px solid #999;
}
div.tabs div {
        position:absolute;
        display:none;
        width:573px;
        height:185px;
        padding:10px;
} 
*/

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	.copyright
	{
		overflow: hidden;
		/*  padding: 1em 0em; */
		padding-top: 5px;
		text-align: center;
		font-size: 0.80em;
		letter-spacing: 0.30em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}

	#counter
	{
		font-family: 'Verdana', sans-serif;
		font-size: 8pt;
		font-weight: 100;
		color: #a4a1a0;
	}

	.box
	{
		/*  background: #F0EFE9;  */
		background: #F00;
		margin-bottom: 1em;
	}
	
	.box .margin-btm
	{
		margin-bottom: 1em;
	}
	
	.box .details
	{
		/*display: block; */
		padding: 0em 2em 0em 2em; /* top, right, bottom, ;eft */
	}
	
/*********************************************************************************/
/* Table                                                                     */
/*********************************************************************************/	

table#LinkTable {
    width: 95%;
    background-color: #fff;
    border: 1px solid black;
}

/*********************************************************************************/
/* Textarea                                                                     */
/*********************************************************************************/	

    textarea 
    {
        /* border: 1px solid gray;
    	outline-color: gray; */
        resize: none;  
           
    }
    
    .textcounter
    {

		font-weight: 400;
		font-size: 1.10em;
		border: solid 1px #00e64d;
		border-radius: 8px;
		font-family: 'Verdana', sans-serif;
		color: #000; 
		text-align: center;
		padding-left: 4px; 
		padding-right: 4px; 
		padding-top: 4px; 
		padding-bottom: 4px; 		

    }

/*********************************************************************************/
/*                                                                               */
/*********************************************************************************/
.result_row{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #111111;
}

/*********************************************************************************/
/*   Segment Display                                                                           */
/*********************************************************************************/
/*
  .exampleContainer
    {
        display: inline-block;
        background-color: Red;
        border-radius: 5px;
        margin-left: 12px;
    }

    .resizableExample
    {
        margin: 1em;
        padding: 0.5em;
        height: 60px;
        width: 40px;
    }

    .resizableExample div:first-child
    {
        height: 100%;
    }

.med-sevenSegArray5 {
padding: 0.55em;
height: 180px;
width: 200px;
}
*/
 /*********************************************************************************/
/*                                                                               */
/*********************************************************************************/   
